@model EscolaMVC.Models.Disciplinas

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Disciplinas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DISDESCRIACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISDESCRIACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISCH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISCH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cursos.CURSODESCRICAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cursos.CURSODESCRICAO)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <asp:Button ID="BtExcluir" runat="server" Text="Excluir" onclick="BtExcluir_Click" OnClientClick="javascript:return confirm('Você tem certeza que quer excluir?')" />
    <a href=Excluir.html onclick="javascript:return confirm('Você tem certeza que quer excluir?')">
        Excluir
        <input type="submit" value="Excluir" class="btn btn-default" /> |
    </a>

    @Html.ActionLink("Voltar", "Index")

</div>

       
    }
</div>
