@model IEnumerable<Tesla.Models.Modelo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MODDESCRICAO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODANO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Veiculo.VEIDESCRICAO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MODDESCRICAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MODANO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Veiculo.VEIDESCRICAO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MODID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MODID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MODID })
        </td>
    </tr>
}

</table>
